<header class="header_section gradient-blue">
  <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="index.html">
          <span>
          ArtiVend
          </span>
        </a>
        <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class=""> </span>
       </button>

          <!-- Search section -->

        <div *ngIf="userType!=='seller'" class="navbar-search">
            <input #searchInput type="text" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search for products">
            <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
             aria-expanded="false" aria-label="Toggle navigation"
            (click)="submitSearch(searchInput.value)">Search</button>
            <ul class="suggested-result" *ngIf="searchProd">
                <li *ngFor="let search of searchProd">
                    <a (mousedown)="redirectDetails(search.id)">{{search.name}}</a>
                </li>
            </ul>
        </div>

          <!--end Search section -->

        <div [ngSwitch]="userType" class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul *ngSwitchCase="'default'" class="navbar-nav  mx-auto ">
                <li class="nav-item active"><a routerLink="" class="nav-link">
                   Home</a></li>
                <li class="nav-item"><a  class="nav-link" routerLink="seller-auth">vendor</a></li>
                <li class="nav-item"><a  class="nav-link" routerLink="/user-auth">Customer</a></li>
          
            </ul>

            <ul *ngSwitchCase="'user'"  class="navbar-nav  mx-auto">
                <li class="nav-item"><a class="nav-link"  routerLink="/">Home</a></li>    
                <li class="nav-item"><a class="nav-link" routerLink="my-orders">Products</a></li>

                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-danger dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Profile
                  </button>
                  <div class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/">
                        <i class="fas fa-user"></i> {{ userName }}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="userLogout()">
                        <i class="fas fa-sign-out-alt"></i> Logout
                      </a>
                    </li>
                    
                  </div>
                </div>
                
                <li class="nav-item"><a class="nav-link" [routerLink]="cartItems>0?'cart-page':null"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                  </svg>({{cartItems}})</a></li>
               
            </ul>

            <ul *ngSwitchCase="'seller'" class="navbar-nav  mx-auto">
              <li class="nav-item"><a class="nav-link" routerLink="seller-dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link"  routerLink="seller-home">List</a></li>

                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-danger dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Profile
                  </button>
                  <div class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/">
                        <i class="fas fa-user"></i> {{ sellerName }}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="sellerLogout()">
                        <i class="fas fa-sign-out-alt"></i> Logout
                      </a>
                    </li>
                    
                  </div>
                </div>
            </ul>
            <div class="user_option">
              
                
                <a href="" class="order_online">
                  Order Online
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>


