.product-details{
    margin-top: 50px;
    margin-bottom: 80px;
}
.prod-img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.prod-color{
    border: 3px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
h1,h4,h5,h6{
    margin-bottom: 20px;

}
.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin: 70px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .prod-img {
    max-width: 100%;
  }
  

  
  
  .quantity-group input {
    margin-top: 30px;
    width: 50px;
    text-align: center;
    border: none;
    font-size: 18px;
  }
  .quantity-group button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    border: 1px solid #ffca0c;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .quantity-group button{
    background-color: #ffc532;
    color: #fff;
  }
  .data-button {
    margin-right: 10px;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #007efdda;
    color: #fff;
    border: none;
  }
  
  .data-button:hover {
    background-color: #798ca0;
    cursor: pointer;
  }
  
  .details {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .name{
    color:#84a4c9;
  }
  