<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="seller-auth">
          <div *ngIf="!showLogin" class="signup">
            <h2>vendor's Sign-Up</h2>

            <form
              #sellerSignUp="ngForm"
              (ngSubmit)="signUp(sellerSignUp.value)"
              class="common-form"
            >
              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  ngModel
                  type="text"
                  name="name"
                  placeholder="Enter name"
                  #name="ngModel"
                  required
                />
                <p class="invalid-control">
                  <span *ngIf="name.invalid && name.touched"
                    >Please enter name</span
                  >
                </p>
              </div>
              <div class="form-outline mb-3">
                <input
                  class="form-control"
                  ngModel
                  type="text"
                  name="email"
                  placeholder="Enter email"
                  #email="ngModel"
                  required
                  email
                />
                <p class="invalid-input">
                  <span *ngIf="email.invalid && email.touched"
                    >Enter valid email</span
                  >
                </p>
              </div>
              <div class="form-outline mb-3">
                <input
                  class="form-control"
                  ngModel
                  type="password"
                  name="password"
                  placeholder="Enter password"
                  #password="ngModel"
                  required
                  minlength="4"
                  maxlength="20"
                />
                <p>
                  <span *ngIf="password.invalid && password.touched"
                    >Enter valid password</span
                  >
                </p>
              </div>
              <button
                [disabled]="sellerSignUp"
                class="form-button"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
              >
                Sign-Up
              </button>
              <a class="auth-toggle-link" (click)="openLogin()"
                >Already have account? Click here</a
              >
            </form>
          </div>
          <!-- Login Area -->

          <div *ngIf="showLogin" class="login">
            <h2>Seller's Login</h2>
            <h5 class="error-p">{{ authError }}</h5>
            <form
              #sellerLogin="ngForm"
              (ngSubmit)="login(sellerLogin.value)"
              class="common-form"
            >
          

          
              <div class="form-outline mb-4">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  name="email"
                  placeholder="Enter email"
                  ngModel
                  #email="ngModel"
                  required
                  email
                />
                <p class="invalid-input">
                  <span *ngIf="email.invalid && email.touched"
                    >Please enter valid password</span
                  >
                </p>
              </div>
              <div class="form-outline mb-3">
                <input
                  class="form-control form-control-lg"
                  type="password"
                  name="password"
                  placeholder="Enter password"
                  ngModel
                  #password="ngModel"
                  minlength="4"
                  maxlength="20"
                  required
                />
              </div>
              <p class="invalid-input">
                <span *ngIf="password.invalid && password.touched"
                  >Enter valid password</span
                >
              </p>
              <button
                class="form-button"
                [disabled]="sellerLogin.invalid"
                class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem"
             
                >
                Login
              </button>
              <a class="auth-toggle-link" (click)="openSignUp()"
                >Don't have account? Click here</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
