<mat-table class="my-orders" [dataSource]="orderData">
    <!-- Define columns -->
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Customers Orders</mat-header-cell>
      <mat-cell *matCellDef="let order">
        {{order.name}}      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Order Id</mat-header-cell>
      <mat-cell *matCellDef="let order">#{{order.id}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="totalPrice">
      <mat-header-cell *matHeaderCellDef>Total Price</mat-header-cell>
      <mat-cell *matCellDef="let order">{{order.totalPrice}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let order">{{order.email}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Cancel</mat-header-cell>
      <mat-cell *matCellDef="let order">
        <button mat-icon-button color="warn" (click)="cancelOrder(order.id)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <!-- Define table header -->
    <mat-header-row *matHeaderRowDef="['image', 'id', 'totalPrice', 'status', 'action']"></mat-header-row>
  
    <!-- Define table rows -->
    <mat-row *matRowDef="let order; columns: ['image', 'id', 'totalPrice', 'status', 'action']"></mat-row>
  </mat-table>
  