.product-header-image{
    object-fit: contain;
    height: 500px;
    width: 100%;
    margin-top: 10px;
}

/* -----------List Wrapper------------- */

h1{
    background-color: rgba(255, 254, 254, 0.8);
    color:#689df9;
    text-align: center;
}

.product-list-wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-item {
  position: relative;
  transition: transform 0.3s ease;
}

.product-image {
  background-size: cover;
  background-position: center;
  height: 200px; /* Initial height */
  transition: height 0.3s ease;
}

.product-item:hover {
  transform: scale(1.1);
}

.product-item:hover .product-image {
  height: 250px; /* Increased height on hover */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-list .col-sm-3 {
  flex: 0 0 25%;
}

/* Add more styles as needed */

.product-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.product-item .product-details{
    border-top: 1px solid #7a6464;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.product-item .name-head{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.product-item .product-details{
    text-align: center;
}
.product-footer a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #689df9;
  border-radius: 30px;
  text-decoration: none;
  color: #4580e7;
  font-weight: bold;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

.product-footer a:hover {
  background-color: #4580e7;
  color: #fff;
}
.product-footer {
  position: relative;
}

.product-footer a:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  background-color:#e7ac45;
  color: #fff;
  border-color: #f3d197;
}
.product-item {
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.3s ease-in-out;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item:active {
  transform: scale(1.1);
}

.product-item img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: auto;
}

.product-item .product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.title-artivend{
  color: #e1eaf3;
font-size: 200;
font-weight: 700;
}


.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.product-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-details {
  flex-grow: 1;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}

.name-head {
  margin-top: 0;
}

.product-price,
.product-color {
  margin-bottom: 10px;
}