<div class="add-product">
    <h2>Update Product</h2>
    <h4 class="message-p">{{productMessage}}</h4>
    <form #updateProduct="ngForm" (ngSubmit)="updateProd(updateProduct.value)" class="common-form"
    color="grey;">
        <div class="form-outline mb-3">

        <input class="form-control" ngModel="{{productData?.name}}" 
        type="text" name="name" placeholder="Product Name">
        </div>
        <div class="form-outline mb-3">

        <input class="form-control" ngModel="{{productData?.price}}" type="text" name="price" 
        placeholder="Product Price">
        </div>
        <div class="form-outline mb-3">

        <input class="form-control" ngModel="{{productData?.color}}" type="text" name="color" placeholder="Product Color">
        </div>
        <div class="form-outline mb-3">

        <input class="form-control" ngModel="{{productData?.category}}" 
        type="text" name="category" placeholder="Product Category">
        </div>
        <div class="form-outline mb-3">

        <textarea class="form-control" ngModel="{{productData?.description}}" type="text" 
        name="description" placeholder="Product Description"></textarea>
        </div>
        <div class="form-outline mb-3">

        <input class="form-control" ngModel="{{productData?.image}}" type="text"
         name="image" placeholder="Product Image URL">
        </div>
        <button class="form-button"   class="btn btn-primary btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Update Product</button>
    </form>
</div>